extends ./layout

block title
  title 电影票友

block prepend body

  //wrap
  div.wrap
    if data && !data.err
      if data.movie
        div.filmlistbox
          a.flexbox
            div.imgbox.img_box
              img(src="#{data.movie.movieImage}")
      div.tabs.serachmid.tabTitle
        div.flexbox
          div.sparpreis_title
            span 《#{data.movie.movieNameCN}》特价票
          div.flex.searchbox.flexbox
            div.flex.searchtxt
              span#sparpreis_button 活动规则  
            a(herf="").btn_search
      div.sparpreis
        ul
          li 1、活动时间：#{data.movie.releaseTime}
          li 2、特价票每人限购2张，数量有限，抢完即止，同一账号、设备号、手机号、将视为同一用户；
          li 3、在参加活动过程中、如果出现作弊行为（如批量注册、恶意购买、虚假分享、虚假交易等），电影票友将取消您本次活动的机会，并有权取消您后续参与电影票友任意活动的权利，必要时追究法律责任；
          li 4、如有其它问题，请拨打4008-123-867，或关注微信电影票友公众号，票友君会为您解答     
      div.tabs.serachmid
        div.flexbox
          div.city
            a#chooseCitys
              i.demo-icon.icon-down-open-mini
              span #{data.cityName}
          div.flex.searchbox.flexbox
            div.flex.searchtxt
            a(herf="").btn_search
      if data.cinemas
        each cinemasFirstArray,UppercinemasKey in data.cinemas
          dl.filmlist
            dt._dt
              i.demo-icon.icon-down-dir
              | #{UppercinemasKey}
            each _cinemas in cinemasFirstArray
              dd
                ul
                  li
                    a(href="/#{data.publicsignal}/schedule/#{_cinemas.cinemaID}/#{data.movie.movieID}").flexbox
                      div.infobox.flex
                        h2 #{_cinemas.cinemaName}
                        p #{_cinemas.cinemaAddress}
                        p 最近场次：
                          | #{_cinemas.RecentShowtime}
                      div.pricebox
                        p
                          if _cinemas.isTicket
                            span 座
                        p.newprice
                          | ￥#{_cinemas.limitPrice}
                          b 起
  a(href="http://www.moviefan.com.cn/dypy/110100/filmlist/hot")
    div.moreMovie 更多影片 >>

block prepend footer

block prepend script
  script
    | window.publicsignal = "#{data.publicsignal}";
    if data.movie && data.movie.movieID
      | var movie = !{JSON.stringify(data.movie)};
      | var movieId = "#{data.movie.movieID}";
    else
      | var movieId = "0";
    if data.shareInfo
      | var shareInfo = !{JSON.stringify(data.shareInfo)};
  script(src="#{assets.common.js}")
  script(src="#{assets.ticket.js}")
